
#chat-container{
  height: calc(100vh - 4rem - 5rem);
  background-color: rgb(20, 20, 21);
  
  #chat-box{
    overflow-y: scroll;
    height: 100%;
    padding: 2.1rem;

    .prompt{
      text-align: center;
      letter-spacing: 1px;
      font-size: .9rem;
      padding: 1rem 0rem;
      color: rgb(70,70,70);
    }

    .chat-message-text{
      border-radius: 2rem;
      color: white;
      border: 1px solid var(--dark-4);
    }
  }
  

  #chat-form{
    height: 5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.2rem;

    #chat-form-input{
      border-radius: 2rem;
      background-color: var(--dark-4);
      border: none;
      color: white;
    }
  }
  
}

@media (min-width: 768px){
  #chat-container{height: calc(100vh - 5rem);}
}