

#teams-container{
  color: white;
  height: auto;
  // background-color: rgb(20, 20, 21);
  // background-color: var(--dark-4);


  #teams-list{
    display: flex;
    flex-direction: column;
    font-size: .9rem;
  
    .team{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      height: 3rem;
    
      // padding: 1rem;
      padding-left: 2rem;
      overflow: auto;
      
      .team-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none !important;
        gap: 1rem;

        .team-last-message{
          font-size: 0.8rem;
          white-space: nowrap;
        }
      }
      

      .team-details{
        font-size: 1.4rem;
        color: white;
        margin-right: 1rem;
      }

    }
    
    .team:hover, .team-active{
      background-color: rgb(43, 43, 43);
      // background-color: var(--dark-4);
    }
    
    .team-name{
      color: white;
    }
  }
}


@media (min-width: 768px){
  #teams-container{
    height: calc(100vh - 4rem);
    border-right: 1px solid var(--dark-4);

  }
}